.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.btn__unfollow{
    border: 1px solid #D0D7DE;
    width: 70px;
    height: 28px;
    border-radius: 5px;
}
.content__js{
    display: flex;
    width: 896px;
    justify-content: space-between;
}
.content__jss{
    display: flex;
    gap: 30px;
}